body{
  background-color:#fafafa;
  /*color:#2c2c2c;*/
  color: #000;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, "Helvetica Neue",Arial, Oxygen, Ubuntu, Cantarell, 'Open Sans', sans-serif;
  font-size: 16px;
  margin:0;
  line-height: 1.5em;
}
.container{
  width:70%;
  margin:auto;
  overflow:hidden;
}
footer {
color:black;
position: none;
width: 100%;
left: 0;
bottom: 0;
background-color:none;
text-align: center;
}
p.thick{
font-weight: 400;
}
p.small-font{
font-size: normal;
}
h1{
  font-weight: 600;
  font-size: 24px;
}
h2{
font-weight: 500;
font-size: 30px;
margin-top: 15px;
margin-bottom: 15px;
}
h3{
font-weight: 500;
font-size: 24px;
}
h4{
font-size: 16px;
text-decoration: underline;
margin-block-start: 0px;
margin-block-end: 0px;
font-weight: 400;
}


body, html {
height: 100%;
}

/* The hero image */
.hero-image {
/* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
background-image: url("background.jpeg");

/* Set a specific height */
height: 55%;

/* Position and center the image to scale nicely on all screens */
background-position: center;
background-repeat: no-repeat;
background-size: cover;
position: relative;
}

/* Place text in the middle of the image */
.hero-text {
text-align: center;
position: relative;
top: 13%;
left: 50%;
transform: translate(-50%, -50%);
}
h1.title {
color: white;
font-size: 75px;
font-weight: 300;
line-height: 65px;
margin-block-start: 0em;
margin-block-end: 0em;
}
.credit-hero-text {
text-align: right;
position: absolute;
top: 97%;
right: -5%;
transform: translate(-50%, -50%);
}
p.credit-font{
font-size: normal;
color: #fafafa;
}

.news{
margin-bottom: 10%;
}

@media screen and (max-width: 1423px) {
h1.title{
  font-size: 70px;
}
}

@media screen and (max-width: 645px) {
.hero-text {
  top: 25%;
}
}

a.link{
  text-decoration: none;
  color:#017afb;
}
a.link:hover{
  color:#0054b3;
  text-decoration: underline;
}



iframe{
  margin:20px 0;
}

#constitution img{
  width:45%;
  margin:20px;
}

@media(max-width:1200px){
  #constitution img{
      width:90%;
      margin:20px;
  }
}
.last-section{
  margin-bottom: 300px;
}

/* Officers Section */
html {
box-sizing: border-box;
}

*, *:before, *:after {
box-sizing: inherit;
}

.column {
margin-left: auto;
margin-right: auto;
width: 50%;
margin-bottom: 40px;
margin-top: 30px;
padding: 0 8px;
}

.column-officer{

float: left;
width: 50%;
padding: 0 8px;
}
@font-face {
font-family: League Spartan;
src: url(LeagueSpartan-Bold.otf);
}

.column-resources{
font-family: League Spartan;
font-size: smaller;
width: 300px;
margin-bottom: 15px;
margin-top: 15px;
padding: 0 8px;
float: left;
}

.card-resources {
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
margin: 8px;
background-color: #fff;
text-align: center;
}
.card-people {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 8px;
  background-color: #fff;
  text-align: center;
  }

.people{
display: block;
margin-left: auto;
margin-right: auto;
width: 50%;
margin-top: 5%;
}
.people-container{
  width:90%;
  margin:auto;
  overflow:hidden;
}
.row-resources{
display: flex;
justify-content: space-between;
}
.people-container::after, .row::after {
content: "";
clear: both;
}

.row-officer::after{
content: "";
clear: both;
display:table;
}
.box {
background-color: #f3f3f3;
box-sizing: border-box;
}

.title {
color: grey;
}
button{
font-family: inherit;
}
.button {
border: none;
outline: 0;
display: inline-block;
padding: 8px;
color: white;
background-color: #000;
text-align: center;
cursor: pointer;
width: 100%;
}

.button:hover {
background-color: #555;
}




h3.no-margin{
margin-block-start: 0em;
margin-block-end: 0em;
}
p.no-margin{
margin-block-start: 0.4em;
margin-block-end: 0em;
}
.video {
margin-bottom: 40px;
width: 65%;
background-color: #f3f3f3;
box-sizing: border-box;
padding:15px;

}
.video-responsive{
position: relative;
padding-bottom: 56.25%; /* 16:9 */
height: 0;
margin-bottom: 30px
}
.video-responsive iframe{
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}
@media screen and (max-width: 1500px) {
.video {
  width: 75%;
}
.people {
    width: 60%;
  }
}

@media screen and (max-width: 1200px) {
  .column{
    width: 75%;
    display: block;
  }
  .column-officer{
    width: 75%;
    float: none;
    margin:auto;
    display: block;
  }
  .people {
    width: 55%;
  }
}
@media screen and (max-width: 1100px) {
.people {
  width: 55%;
}
.video {
  width: 100%;
}

p.credit-font{
  font-size: 12px;
}
.row-resources{
  display:table;
}
}
@media screen and (max-width: 900px) {
  .column{
    width: 85%;
    display: block;
  }
  .column-officer{
    width: 85%;
    display: block;
  }
  .people {
    width: 60%;
  }
}
@media screen and (max-width: 700px) {
.container {
  width: 90%;
}
h3.no-margin{
  font-size: 20px;
}
}

@media screen and (max-width: 600px) {
.column-resources{
  width: 100%;
  display: block;
}
.container {
  width: 97%;

}
.people-container{
  width:96%;
  padding-right: 0;
  padding-left: 0;

}
.column{
  width: 100%;
  display: block;
}
.column-officer{
  width: 100%;
  float: none;
  margin:auto;
  display: block;
}
p.small-font{
  font-size: 12px;
}
h2{
  font-size: 28px;
}
h3{
  font-size: 22px;
}

p.credit-font{
  font-size: 8px;
}
.video {
  padding: 10px;
}
}



