
body{
    background-color:#f4f4f4;
    color:#2c2c2c;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin:0;
    line-height: 1.5em;
}
.container{
    width:80%;
    margin:auto;
    overflow:hidden;
}
#main-header{
    background-color: blue;
    color:white;
}
#navbar{
    background-color: #333;
    color:#f4f4f4
}
#navbar ul{
    padding:0;
    list-style: none;
}
#navbar li{
    display:inline;
}
#navbar a{
    color:#fff;
    text-decoration: none;
    font-size: 18px;
    padding-right:15px;
}
#navbar a:hover{
    color:rgb(97, 97, 255);
}

a{
    text-decoration: none;
    color:#000;
}
a:hover{
    color:blue;
}
a:active{
    color:green
}

.box-1{
    background-color:#a8a8a8;

    border: 5px blue solid;
    border-width:3px;
    padding:20px;
    margin:20px 0;
}
h4{
    text-decoration: underline;
}
iframe{
    margin:20px 0;
}

#constitution img{
    width:47%;
    margin:20px;
}

@media(max-width:1200px){
    #constitution img{
        width:90%;
        margin:20px;
    }
}